<html>

<head>
    <link rel='stylesheet' href='https://unpkg.com/leaflet@1.6.0/dist/leaflet.css' />
    <script src='https://unpkg.com/leaflet@1.6.0/dist/leaflet.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <style>
        body {
            margin: 0;
        }

        #map {
            position: fixed;
            width: 100%;
            height: 100vh;
        }
    </style>
</head>

<body>
    <div id="map" style="width: 800px; height: 600px"></div>
    <script>
        var map;
        var citiesLayer = new L.LayerGroup();
        var satellitesLayer = new L.LayerGroup();
        var relationshipsLayer = new L.LayerGroup();

        function initMap() {
            map = L.map('map', { zoom: 2, center: [30, 0], layers: [citiesLayer] });
            L.tileLayer("https://api.maptiler.com/maps/basic/{z}/{x}/{y}.png?key=cYtmZZ4gfz1cXNCBs8r4", {
                attribution: '<a href="https://www.maptiler.com/copyright/" target="_blank">&copy; MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">&copy; OpenStreetMap contributors</a>',
            }).addTo(map);
        }

        
        function drawCities(city_markers) {
            for (var i = 0; i < city_markers.length; i++) {
                var obj = city_markers[i].slice(0, 2);

                var marker = (L.marker(obj).bindTooltip(city_markers[i][2],
                    {
                        permanent: false,
                        direction: "left"
                    }
                ));
                citiesLayer.addLayer(marker);
            }
        }
        

        /*
        function drawCities(city_markers) {
            var cities = GetSelection();

            for (var i = 0; i < city_markers.length; i++) {
                if (city_markers[i][2] == cities[0] || city_markers[i][2] == cities[1]) {
                    var obj = city_markers[i].slice(0, 2);

                var marker = (L.marker(obj).bindTooltip(city_markers[i][2],
                    {
                        permanent: false,
                        direction: "left"
                    }
                ));
                citiesLayer.addLayer(marker);
                }
                
            }
        }
        */
        function drawSatellites(sat_markers) {
            satellitesLayer.clearLayers();
            for (var i = 0; i < sat_markers.length; i++) {
                var obj = sat_markers[i].slice(0, 2);
                var circle = L.circle(obj, {
                    color: 'red',
                    fillColor: '#f03',
                    fillOpacity: 0.5,
                    radius: 1000
                });
                satellitesLayer.addLayer(circle);
            }
            satellitesLayer.addTo(map);
        }

        function drawRelationships(rel_markers){
            relationshipsLayer.clearLayers();
            for (var i = 0; i < rel_markers.length; i++) {
                var obj = rel_markers[i];
                var satStart = [obj[0], obj[1]];
                var satEnd = [obj[2], obj[3]];
                var latlngs = [
                    satStart,
                    satEnd
                ];
                var polyline = L.polyline(latlngs, {color: 'blue'}).addTo(map);
                relationshipsLayer.addLayer(polyline);
            }
            relationshipsLayer.addTo(map);
        }

        initMap();
        
        drawCities(JSON.parse("{{city_markers|escapejs}}"));
        citiesLayer.addTo(map);

        //TODO: edge toggle
        drawRelationships(JSON.parse("{{rel_markers|escapejs}}"));
        relationshipsLayer.addTo(map);

        drawSatellites(JSON.parse("{{sat_markers|escapejs}}"));
        satellitesLayer.addTo(map);

        var json_satellites;
        var json_relationships;
        function ajaxCall() {
            $.ajax({
                type: 'GET',
                url: "{% url 'json_satellites_and_relationships' %}",
                data: { "json_satellites": json_satellites, "json_relationships": json_relationships},
                async: false,
                success: function (data) {
                    //TODO: edge toggle
                    drawRelationships(JSON.parse(data.json_relationships));
                    drawSatellites(JSON.parse(data.json_satellites));
                    setTimeout(ajaxCall, 1000);
                }
            });
        }
        ajaxCall();

    </script>
    <div style = "position:relative; left:880px; top:10px;">
        <select id="selectCity1">
            <option>Choose a city:</option>
        </select>
        <script>
            var select = document.getElementById("selectCity1");
            city_options = JSON.parse("{{city_markers|escapejs}}")
            
            for (var i = 0; i < city_options.length; i++) {
                    var opt = city_options[i][2];
                    var element = document.createElement("option");
                    element.text = opt;
                    element.value = opt;
                    select.add(element);
            }
        </script>
    </div>

    <div style = "position:relative; left:880px; top:110px;">
        <select id="selectCity2">
            <option>Choose a city:</option>
        </select>
        <script>
            var select= document.getElementById("selectCity2");
           
            city_options = JSON.parse("{{city_markers|escapejs}}")
    
            for (var i = 0; i < city_options.length; i++) {
                var opt = city_options[i][2];
                var element = document.createElement("option");
                element.text = opt;
                element.value = opt;
                select.add(element);
            }
        </script>
    </div>
    
    <script>
        var $dropdown1 = $("select[id='selectCity1']");
        var $dropdown2 = $("select[id='selectCity2']");

        $dropdown1.change(function() {
            $dropdown2.empty().append($dropdown1.find('option').clone());
            var selectedItem = $(this).val();
            if (selectedItem) {
                $dropdown2.find('option[value="' + selectedItem + '"]').remove();
            }
        });

        $dropdown2.change(function() {
            $dropdown1.empty().append($dropdown2.find('option').clone());
            var selectedItem = $(this).val();
            if (selectedItem) {
                $dropdown1.find('option[value="' + selectedItem + '"]').remove();
            }
        });
    </script>

    <script>
        function GetSelection(){
            var element1 = document.getElementById("selectCity1");
            var element2 = document.getElementById("selectCity2");
            var result1 = element1.options[element1.selectedIndex].text;
            var result2 = element2.options[element2.selectedIndex].text;

            var selection = [result1, result2];
            return selection;
        }
    </script>
    <button type="button" style = "position:relative; left:880px; top:250px;" onclick="GetSelection()">Confirm selection</button>
    

</body>

</html>