<html>

<head>
    <link rel='stylesheet' href='https://unpkg.com/leaflet@1.6.0/dist/leaflet.css' />
    <script src='https://unpkg.com/leaflet@1.6.0/dist/leaflet.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <style>
        body {
            margin: 0;
        }

        #map {
            position: fixed;
            width: 100%;
            height: 100vh;
        }
    </style>
</head>

<body>
    <div id="map"></div>
    <script>
        var map;
        var citiesLayer = new L.LayerGroup();
        var satellitesLayer = new L.LayerGroup();

        function initMap() {
            map = L.map('map', { zoom: 3, center: [40, 10], layers: [citiesLayer] });
            L.tileLayer("https://api.maptiler.com/maps/basic/{z}/{x}/{y}.png?key=cYtmZZ4gfz1cXNCBs8r4", {
                attribution: '<a href="https://www.maptiler.com/copyright/" target="_blank">&copy; MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">&copy; OpenStreetMap contributors</a>',
            }).addTo(map);
        }

        function drawCities(city_markers) {
            for (var i = 0; i < city_markers.length; i++) {
                var obj = city_markers[i].slice(0, 2);

                var marker = (L.marker(obj).bindTooltip(city_markers[i][2],
                    {
                        permanent: false,
                        direction: "left"
                    }
                ));
                citiesLayer.addLayer(marker);
            }
        }

        function drawSatellites(sat_markers) {
            satellitesLayer.clearLayers();
            for (var i = 0; i < sat_markers.length; i++) {
                var obj = sat_markers[i].slice(0, 2);
                var circle = L.circle(obj, {
                    color: 'red',
                    fillColor: '#f03',
                    fillOpacity: 0.5,
                    radius: 1000
                });
                satellitesLayer.addLayer(circle);
            }
            satellitesLayer.addTo(map);
        }

        initMap();

        drawCities(JSON.parse("{{city_markers|escapejs}}"));
        citiesLayer.addTo(map);

        drawSatellites(JSON.parse("{{sat_markers|escapejs}}"));
        satellitesLayer.addTo(map);

        var json_satellites;
        function ajaxCall() {
            $.ajax({
                type: 'GET',
                url: "{% url 'json_satellites' %}",
                data: { "json_satellites": json_satellites },
                async: false,
                success: function (data) {
                    result = drawSatellites(JSON.parse(data.json_satellites));
                    setTimeout(ajaxCall, 1000);

                }
            });
        }
        ajaxCall();

    </script>
</body>

</html>