<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% load static %}

    <link href="https://uploads-ssl.webflow.com/5e7ceb09657a69bdab054b3a/5ea9d03561073b122a2bcf58_favicon.png"
        rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' href='https://unpkg.com/leaflet@1.6.0/dist/leaflet.css' />

    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

    <link rel="stylesheet" type="text/css" href="{% static 'demo/style.css' %}">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src='https://unpkg.com/leaflet@1.6.0/dist/leaflet.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.6.2/proj4.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/proj4leaflet/1.0.2/proj4leaflet.min.js'></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/7.1.0/math.min.js"></script>

    <script src="{% static "demo/countries-110m.js" %}"></script>
    <script src="{% static "demo/map.js" %}"></script>
    <script src="{% static "demo/dropdown.js" %}"></script>
    <script src="{% static "demo/transmission.js" %}"></script>

    <title>Memgraph | Starlink Network Simulator</title>
</head>

<body>
    <div class="container">
        <div class="row mt-3">
            <div class="col-md-12">
                <div class="jumbotron m-0 pt-2 pl-3 pr-3 pb-2">
                    <div class="row mt-3">
                        <div class="col-6 col-md-2">
                            <a class="pr-2" target="_blank" rel="noopener noreferrer" href="https://memgraph.com/">
                                <img class="img-fluid"
                                    src="https://uploads-ssl.webflow.com/5e7ceb09657a69bdab054b3a/5e7ceb09657a6937ab054bba_Black_Original%20_Logo.png"
                                    srcset="https://uploads-ssl.webflow.com/5e7ceb09657a69bdab054b3a/5e7ceb09657a6937ab054bba_Black_Original%2520_Logo-p-800.png 800w, https://uploads-ssl.webflow.com/5e7ceb09657a69bdab054b3a/5e7ceb09657a6937ab054bba_Black_Original%2520_Logo-p-1080.png 1080w, https://uploads-ssl.webflow.com/5e7ceb09657a69bdab054b3a/5e7ceb09657a6937ab054bba_Black_Original%2520_Logo-p-1600.png 1600w, https://uploads-ssl.webflow.com/5e7ceb09657a69bdab054b3a/5e7ceb09657a6937ab054bba_Black_Original%20_Logo.png 1608w"
                                    alt="Memgraph logo">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-10">
                            <p class="h2 font-weight-bold">Starlink Network Simulator</p>
                        </div>
                    </div>
                    <hr class="m-0 p-1">
                    <div class="row mt-2">
                        <div class="col-sm-12 col-md-8">
                            <p>This is a demonstration of how Memgraph DB can be used to calculate the shortest path
                                for data transmission using a satellite network. For more information, visit our blog
                                post:
                            </p>
                        </div>
                        <div class="col-sm-12 col-md-2">
                            <a class="btn btn-danger btn-lg" target="_blank" rel="noopener noreferrer"
                                href="https://memgraph.com/blog" role="button">Blog Post</a>
                        </div>
                        <div class="col-sm-12 col-md-2">
                            <button type="button" class="btn btn-info btn-lg" data-toggle="modal"
                                data-target="#disclaimerModal">
                                Disclaimer
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12">
                <div class="card bg-light" style="width: 100%; height:58vh;">
                    <div class="card-body" id="map"></div>
                    <div id='map-alert'></div>
                </div>
            </div>
        </div>
        <div class="row mt-3 ml-0 mr-0">
            <div class="col-sm-12 col-md-5 mb-3 border rounded">
                <div class="row mt-3">
                    <div class="col-6 col-md-5">
                        <button type="button" class="btn btn-danger mb-3" id="startButton"
                            onclick="simulationStarted()">Start
                            simulation</button>
                    </div>
                    <div class="col-6 col-md-5">
                        <button type="button" class="btn btn-warning" id="stopButton" onclick="simulationStopped()">Stop
                            simulation</button>
                    </div>
                </div>
                <hr class="mt-1">
                <div class="row mt-3">
                    <div class="col-6 col-md-5">
                        <div class="form-group">
                            <select class="form-control form-control-md" id="dropdownOne"
                                onchange="if (this.selectedIndex!=-1)  dropdownOneSelect();">Select
                                starting city</select>
                        </div>
                    </div>
                    <div class="col-6 col-md-5">
                        <div class="form-group">
                            <select class="form-control form-control-md" id="dropdownTwo"
                                onchange="if (this.selectedIndex!=-1)  dropdownTwoSelect();">Select
                                ending
                                city</select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-7">
                <div class="card bg-light mb-3">
                    <div class="row no-gutters">
                        <div class="col-2 my-auto">
                            <img class="img-fluid p-2"
                                src="https://uploads-ssl.webflow.com/5e7ceb09657a69bdab054b3a/5ea135c6c6dcbc51c8d7d510_dashboard-fast.svg"
                                alt="...">
                        </div>
                        <div class="col-10 border-left">
                            <div id='tt-alert'></div>
                            <div class="card-body">
                                <div id="ttime"></div>
                                <div id="optic"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="disclaimerModal" tabindex="-1" role="dialog" aria-labelledby="disclaimerModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="disclaimerModalLabel">Disclaimer</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p> Not all information about the Starlink project is publicly available, therefore we had to
                            make
                            some assumptions. There have also been simplifications in the simulation on our part to make
                            it
                            better suited for visualization and more understandable for wider audiences.</p>

                        <p>In the first phase, Starlink plans to deploy 1,584 satellites at an altitude of around 550 km
                            in
                            72 orbital planes at inclinations of 53.2°, 70.0° and 97.6°. This simulation uses 480
                            satellites
                            in 24 orbital planes at an altitude of around 550 km and an inclination of 70.0°.</p>

                        <p> We also approximate the signal processing time for satellites and ground transceivers, which
                            is
                            fixed and set to 4 ms. For example, a signal travelling from city A to city B via 4
                            satellites
                            will result in 40 ms of processing time in total. The ground transceivers in both cities
                            will
                            contribute 4 ms of processing time each while the satellites will contribute 8 ms of
                            processing
                            time (4 ms to process the received signal and 4 ms for further transmission processing).</p>

                        <p>Starlink is a massive undertaking led by US-based company SpaceX. We at Memgraph applaud
                            their ingenuity, dedication and vision for the future. If
                            you want to find out more about the project itself visit their websites:
                            <a target="_blank" rel="noopener noreferrer"
                                href="https://www.starlink.com/">https://www.starlink.com</a> and 
                            <a target="_blank" rel="noopener noreferrer"
                                href="https://www.spacex.com/">https://www.spacex.com</a>.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static "demo/index.js" %}"></script>
    <script>
        createMap();

        cities = JSON.parse("{{city_markers|escapejs}}");
        opticalPaths = JSON.parse("{{op_markers|escapejs}}");

        createDropdowns();
        createTransmissionTimeCard();

        $(document).ready(function () {
            simulationStopped();
        })

        function ajaxCall() {
            xhr = $.ajax({
                type: 'GET',
                url: "{% url 'json_satellites_and_relationships' %}",
                data: {
                    cityOne: firstDropdown.options[firstDropdown.selectedIndex].value,
                    cityTwo: secondDropdown.options[secondDropdown.selectedIndex].value,
                    "json_satellites": json_satellites,
                    "json_relationships": json_relationships,
                    "json_shortest_path": json_shortest_path
                },
                async: true,
                success: function (data) {
                    sat_markers = JSON.parse(data.json_satellites);
                    if (!simStopped && newDataLoaded()) {
                        drawCities();
                        firstSatellite = sat_markers[0].slice(0, 2);
                        drawRelationships(JSON.parse(data.json_relationships));
                        drawSatellites();

                        if (data.json_shortest_path.length != 0) {
                            shortestPathLayer.clearLayers();
                            drawShortestPath(JSON.parse(data.json_shortest_path));
                            document.getElementById("ttime").innerHTML = `Satellite communication: ${transmission_time(JSON.parse(data.json_shortest_path))}`;
                            selectedCities = GetSelectionText();
                            document.getElementById("optic").innerHTML = `Fiber-optic cable communication: ${optical_time(opticalPaths, selectedCities[0], selectedCities[1])}`;
                        } else {
                            shortestPathLayer.clearLayers();
                            document.getElementById("ttime").innerHTML = `No visible satellites.`;
                            selectedCities = GetSelectionText();
                            document.getElementById("optic").innerHTML = `Fiber-optic cable communication: ${optical_time(opticalPaths, selectedCities[0], selectedCities[1])}`;
                        }
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    if (!userAborted(xhr)) {
                        showError('Something went wrong...');
                    }
                }
            });
        };
    </script>
</body>

</html>