<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Starlink Network Simulator | Memgraph</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /> {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'demo/assets/img/favicon.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'demo/css/memgraph-foundation-app.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'demo/assets/libs/fontello/css/fontello.css' %}">

    <link rel='stylesheet' href='https://unpkg.com/leaflet@1.6.0/dist/leaflet.css' />

    <link rel="stylesheet" type="text/css" href="{% static 'demo/style.css' %}">

    <script src='https://unpkg.com/leaflet@1.6.0/dist/leaflet.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.6.2/proj4.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/proj4leaflet/1.0.2/proj4leaflet.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/7.1.0/math.min.js"></script>

    <script src="{% static 'demo/countries-110m.js' %}"></script>
    <script src="{% static 'demo/map.js' %}"></script>
    <script src="{% static 'demo/dropdown.js' %}"></script>
    <script src="{% static 'demo/transmission.js' %}"></script>
</head>

<body>

    <!-- Main nav -->
    <nav data-sticky-container>
        <div data-sticky data-options="marginTop:0;">
            <div class="title-bar sticky">
                <div class="top-bar-left">
                    <ul class="menu">
                        <li>
                            <a id="demo-title" href="/" class="top-bar-title">
                                <img src="{% static 'demo/assets/img/img-logo-mark.svg' %}" width="44" height="44" alt="Memgraph logo">
                            </a>
                        </li>
                        <li class="menu-text">
                            Starlink Network Simulator
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <!-- Side nav -->
    <div class="off-panel is-active card" id="off-panel" data-toggler=".is-active">
        <div class="card-section">
            <label class="help-text text-uppercase" style="padding-top: 1em; padding-bottom: 1em;">
                Simulation settings
            </label>

            <div class="form-group">
                <select class="form-control form-control-md" id="dropdownOne" onchange="if (this.selectedIndex!=-1)  dropdownOneSelect();">
                    <option style="display:none;" selected>Start city</option>
                </select>
            </div>
            <div class="form-group">
                <select class="form-control form-control-md" id="dropdownTwo" onchange="if (this.selectedIndex!=-1)  dropdownTwoSelect();">
                    <option style="display:none;" selected>Target city</option>
                </select>
            </div>
            <button class="button secondary" id="startStopButton" onclick="simulation();">Start simulation</button>
            <hr>

            <label class="help-text text-uppercase">
                Transmission speed
            </label>

            <label class="help-text" id="initial-stats" style="padding-top: 1em;">
                Choose the cities and start the simulation to see the results.
            </label>

            <div id="stats" style="display:none;">
                <div id="ttime"></div>
                <div id="optic"></div>
            </div>
        </div>

        <div class="card-divider">

            <div class="footer-copy">
                <span>Memgraph Ltd. 2020</span>
                <span class="float-right">
                    <button class="button clear" data-open="intro-modal">
                        <span class="icon-ui-info-circled"></span>
                </button>
                </span>
            </div>
        </div>
    </div>

    <!-- Content -->
    <main class="off-panel-main" style="padding-top: 0;">


        <div id="map" style="height:90vh;"></div>

        <button class="off-panel-btn" data-toggle="off-panel" style="z-index: 1000;">
            <span id="panel-close" class="icon-ui-left-open"></span>
            <span id="panel-open" class="icon-ui-right-open hide"></span>
        </button>
    </main>



    <!-- modal for intro -->
    <div class="reveal fadein" id="intro-modal" data-reveal>
        <button class="close-button" data-close aria-label="Close modal" type="button" data-toggle="step1 step2">
            <span aria-hidden="true">&times;</span>
        </button>

        <img alt="Starlink Simulator with Memgraph" src="{% static 'demo/assets/img/satellite.svg' %}" class="float-center" width="96" height="96">
        <br>
        <h4 class="text-center">Starlink Network Simulator</h4>
        <p class="text-center">
            This is a demonstration of how Memgraph DB can be used to calculate the shortest path for data transmission using a satellite network. <br>Read our <a target="_blank" rel="noopener noreferrer" href="https://memgraph.com/blog">blog post</a>            for more information.
        </p>

        <button class="button secondary float-center" data-close aria-label="Close modal" type="button">Close</button>

    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="{% static 'demo/assets/libs/foundation-sites/dist/js/foundation.min.js' %}"></script>
    <script src="{% static 'demo/index.js' %}"></script>


    <script>
        'use strict';

        // Initialize Foundation
        $(document).foundation();

        $('.off-panel-btn').click(function() {
            $(this).children('span').toggleClass('hide');
        });

        createMap();

        cities = JSON.parse("{{city_markers|escapejs}}");
        sat_markers = JSON.parse("{{sat_markers|escapejs}}");
        rel_markers = JSON.parse("{{rel_markers|escapejs}}");
        opticalPaths = JSON.parse("{{op_markers|escapejs}}");

        createDropdowns();

        drawSatellites();
        drawRelationships(rel_markers);

        function ajaxCall() {
            xhr = $.ajax({
                type: 'GET',
                url: "{% url 'json_satellites_and_relationships' %}",
                data: {
                    cityOne: firstDropdown.options[firstDropdown.selectedIndex].value,
                    cityTwo: secondDropdown.options[secondDropdown.selectedIndex].value,
                    "json_satellites": json_satellites,
                    "json_relationships": json_relationships,
                    "json_shortest_path": json_shortest_path
                },
                async: true,
                success: function(data) {
                    sat_markers = JSON.parse(data.json_satellites);
                    rel_markers = JSON.parse(data.json_relationships);
                    if (!simStopped && newDataLoaded()) {
                        drawCities();
                        firstSatellite = sat_markers[0].slice(0, 2);
                        drawRelationships(rel_markers);
                        drawSatellites();
                        document.getElementById('initial-stats').style.display = 'none';
                        document.getElementById('stats').style.display = 'initial';
                        if (data.json_shortest_path.length != 0) {
                            shortestPathLayer.clearLayers();
                            drawShortestPath(JSON.parse(data.json_shortest_path));
                            document.getElementById("ttime").innerHTML = `Satellite latency: <strong class="text-primary">${transmission_time(JSON.parse(data.json_shortest_path))} </strong>`;
                            selectedCities = GetSelectionText();
                            document.getElementById("optic").innerHTML = `Fiber-optic cable latency: <strong class="text-primary">${optical_time(opticalPaths, selectedCities[0], selectedCities[1])}</strong>`;
                        } else {
                            shortestPathLayer.clearLayers();
                            document.getElementById("ttime").innerHTML = `No visible satellites.`;
                            selectedCities = GetSelectionText();
                            document.getElementById("optic").innerHTML = `Fiber-optic cable latency: <strong class="text-primary">${optical_time(opticalPaths, selectedCities[0], selectedCities[1])}</strong>`;
                        }
                        document.getElementById("startStopButton").disabled = false;
                    }
                },
                error: function(xhr, textStatus, errorThrown) {
                    if (!userAborted(xhr)) {
                        showError('Something went wrong...');
                    }
                }
            });
        };
    </script>

</body>

</html>